
body {
	margin: 0;
}

.page {
	height: 100vh;
	font-family: 'Roboto', 'sans-serif';
	animation: fadeIn 2.4s ease;
	background-color: #FFFAFA;
	color: #29293d;

}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(0.98);
  }
}

p {
	line-height: 1.6;
	margin: 0;
}
a {
	color: black;
  	text-decoration: none;
}
a:hover {
  	transition: ease-in-out;

}
.nav {	
	display: flex;
  	align-items: center;
  	padding: 3%;
  	margin-bottom: 3%;
	opacity: .6;
}
.arrow {
  	display: inline-block;
  	font-size: 230%;
  	color: black;
}
.arrow:hover {
	animation: pulse 0.4s 4;
  	border-width: 0px 4px 4px 0px;
  	cursor: pointer;
}
.nav-title {
    height: 100%;
    display: inline-block;
	padding-left: 1%;
	font-size: 230%;
}
h1 {
	font-family: 'Arial';
	font-weight: bold;
	text-align: center;
	font-size: 200%;
}
.portfolio-container {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	margin: 5%;
	justify-content: center;
}
.portfolio-top {
	margin: 2% 0 2% 0;
}
.portfolio-bottom {
	margin: 2% 0 2% 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 1fr;
	grid-gap: 10px;
}
.portfolio-bottom img {
	width: 100%;
	height: 100%;
}
.portfolio-top img {
	width: 100%;
	height: 100%;
}
#reverse {
	display: flex;
	flex-direction: column-reverse;
	min-height: 100%;
	margin-bottom: 10%;
}







