body {
 	margin: 0;
 	color: #1c1a0e;
 	background-color: #f7e37c;
  animation: fadein 2s;
}
@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}
@-webkit-keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: #9927b3;
}
img {
	width: 100%;
	height: 100%;
}
ul {
	list-style-type: none;
	padding: 0;
}
h1 {
	font-size: 300%;
	letter-spacing: 12px;
	font-family: 'Space Mono', serif;
	margin: 0;
}
h2 {
	font-size: 100%;
	letter-spacing: 2px;
	font-family: 'Space Mono', serif;
}
h3 {
	font-size: 100%;
	letter-spacing: 2px;
	font-family: 'Space Mono', serif;
}
p {
	font-family: 'Taviraj', 'serif';
	font-size: 85%;

}
.container {
	width: 90%;
	margin: auto;
	font-family: 'Taviraj','serif';
}
.left {
	width: 40%;
    display: inline-block;
    position: fixed;
    padding: 4% 1% 0 2%;
}
.title {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
.writing {
	padding-top: 10%;
	line-height: 200%;
	font-family: 'Taviraj', 'serif';
	font-size: 85%;
}
.right {
	vertical-align: top;
	margin: 5% 0 0 55%;
	display: inline-block;
	width: 45%;
}
.prev {
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.prev img {
	object-fit: cover;
	object-position: left top;
}
.prev-cvr {
	position: absolute;
  	opacity: 0;
  	width: 100%;
  	height: 100%;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background-color: black;
  	transition: .5s ease-in-out;
}
.text-cvr {
	color: #f7e37c;
  	size: 16px;
  	text-align: center;
  	vertical-align: middle;
  	opacity: 100%;
  	padding: 10%;
}
.prev:hover .prev-cvr{
	opacity: 80%;
}
@media only screen and (max-width: 780px){
	.title {width: 90%; display: block; margin: auto;}
	.left {width: 90%; display: block; position: relative; margin: auto;}
	.right {width: 90%; display: block; margin: auto; padding-top: 10%;}
}


